.footer {
    width: 100vw;
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    left: 0;
    margin: 0;
}

.jabutilar {
    width: 120px;
    height: auto;
}

.footerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    max-width: 1200px;
    margin-left: 20px;
}

.main-content {
    flex: 1;
}

.footer {
    margin-top: 48px;
    width: 100%;
    background-color: #fafafaff;
    padding: 32px 0 32px 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
}

.footerLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-left: 0px;
}

.footerLeft .logoText {
    font-family: 'Airbnb Cereal', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    color: #000;
}

.footerLeft p {
    font-size: 12px;
    color: #6b7280;
    margin: 0;
}

.footerInfo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footerInfo img {
    width: 18px;
    height: 18px;
}

.footerInfo span,
.footerInfo a {
    font-size: 13px;
    color: #333;
    text-decoration: none;
}

.footerInfo a:hover {
    color: #22c55e;
}

.footerCenter {
    margin-left: 100%;
    justify-content: center;
    align-items: center;
}

.footerCenter img {
    width: 150px;
    height: auto;
}

.footerRight {
    margin-left: 150%;
}

.socialLinks {
    display: flex;
    gap: 7px;
    justify-content: center;
    align-items: center;
}

.socialLinks img {
    width: 34px;
    height: 34px;
    object-fit: contain;
    transition: opacity 0.2s;
}

.socialLinks img:hover {
    opacity: 0.7;
}